# Entorno virtual (cámbialo si usas otro nombre)
venv/
env/
ENV/
.venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de log
*.log

# Archivos de base de datos SQLite
*.sqlite3

# Archivos de configuración de VS Code / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de migraciones innecesarios
*/migrations/__pycache__/
*/migrations/*.pyc

# Secretos (opcional, si usas un .env local)
.env

# Archivos de despliegue (opcional)
vercel_build_output/
